.Quotes {
    margin: 20px auto;
    padding: 50px;
    display: flex;
}
  
.quotes-header {
    font-size: 18px;
    margin: 20px;
    color: whitesmoke;
}
  
.quote-grid {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
}
  
.quote-card {
    flex-grow: 1;
    min-width: 1300px;
    background-color: rgb(46, 45, 45);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}
  
.quote-card blockquote {
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
}
  
.author {
    font-size: 0.85rem;
    color: #bbb;
    margin-top: 0.5rem;
    text-align: right;
}
  